%div{:id => "add_participate_link_#{@idea.id}"}
  = link_to 'Not Interested', not_interested_idea_path(@idea), :class => 'participate btn btn-info', :id => "not_interested_#{@idea.id}", :remote => true

