= content_for :head do
  = stylesheet_link_tag "style", :media => "all"

%header.masthead.well
  %h1 IdeaHub
  %p No grand idea was ever born in a conference, but a lot of foolish ideas have died there. 
  .participlate
    %a.btn.btn-success.btn-large{href: "#"} Create Idea
    %a.btn.btn-info.btn-large{href: "#"} Browse Ideas

.container.idea-index
  %div
    = render partial: 'ideas/idea', collection: @ideas
