%header.masthead.well
  %h1 IdeaHub
  %p #{@idea_quote}
  .participlate
    %a.btn.btn-success.btn-large{href: new_idea_path} Create Idea
    %a.btn.btn-info.btn-large{href: ideas_path} Browse Ideas

.container.idea-index
  %div
    = render @ideas
