= content_for :head do
  = stylesheet_link_tag "style", :media => "all"

%header.masthead.well
  %h1 IdeaHub
  %p Simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions.
  .participlate
    %a.btn.btn-success.btn-large{href: "#"} Create Idea
    %a.btn.btn-info.btn-large{href: "#"} Browse Ideas
