// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
  background-image: url(/main.jpg)

.masthead
  margin: 50px 0
  padding: 25px 0 40px 0
  text-align: center
  h1 
    margin-bottom: 18px
    font-size: 85px
    font-weight: bold
    letter-spacing: -1px
    line-height: 1
  p
    margin-left: 5%
    margin-right: 5%
    font-size: 25px
    line-height: 36px
  a.btn-large
    color: #222
    font-size: 30px
    font-weight: normal
    padding: 14px 24px
  a.btn-info
    margin-left: 15px

  
