- if flash.present?
  .modal#alertModal
    .alert{:class => "alert-#{flash.keys.first}"}
      %b= flash[flash.keys.first] 
:javascript
  $('#alertModal').show(6000)
  //$('#alertModal').fadeToggle(6000)
